
<section *ngIf="allusers.length>0">



<input type="text" placeholder="search....."  class="form-control w-50 mx-auto p-3 mb-5 shadow"  [(ngModel)]="searchid">



<div class="container">
    <div class="row g-5 justify-content-center align-items-center">
<div class="col-md-4 overflow-hidden  " *ngFor="let user of allusers|search:searchid" >
<div class="card user shadow" style="width: 18rem;" [routerLink]="['/userdetails',user.id]">
    <img [src]="user.avatar" class="card-img-top" >
    <div class="card-body p-4">

        <h5>{{user.id}}</h5>
      <h5 class="card-title">{{user.first_name}}</h5>
      <p class="card-text">{{user.last_name}}</p>
  </div>
</div>
</div>
</div>
</div>
<div class="d-flex align-items-center justify-content-center mt-4">
    <mat-paginator [length]="totalItems"
    [pageSize]="perPage"
    [pageSizeOptions]="[6, 12]"
    (page)="handlePage($event)">
</mat-paginator>

</div>
</section>